.env/
__pycache__/

media/audio/*
!media/audio/.gitkeep

media/voice/*
!media/voice/.gitkeep

media/photo/*
!media/photo/.gitkeep

media/video/*
!media/video/.gitkeep

Data.db

executer_copy.py

BotBase/__pycache__/